polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" && 
        subject.user == "netalien") {
        return polkit.Result.YES;
    }
});
